*{
    text-align: center;
}

h2{
    border: 2px solid grey;
}

#steps{
    color: rgb(66, 106, 207);
    text-align: left;
}

li, #ingredients{
    color: rgb(66, 106, 207);
    text-align: left;
}

.description{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 6px 8px;
    padding: 8px;
    border: 4px solid gray;
}

center{
    height: auto;
    width: 400px;
    text-align: center;
}