*{
    font-family: "Brush Script MT", "Times New Roman", serif;
}

#header{
    
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.links{
    padding: 8px;
    margin: 8px 12px;
    color: rgb(66, 106, 207);
    background-color: rgb(192, 192, 192);
}

#linkbox{
    border: 2px solid rgb(66, 106, 207);
}

